@font-face {
  font-family: "lemon_tuesdayregular";
  src: url("lemon_tuesday-webfont.woff2") format("woff2"),
    url("lemon_tuesday-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.backg {
  background-image: url("./img/share-digital-transformation.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
}

.addSth {
  opacity: 0.7;
}

#title2 {
  font-size: 100px;
  color: white;
  font-family: "lemon_tuesdayregular";
  padding-top: 50px;
  margin-bottom: 50px;
}

#myInput {
  color: rgb(24, 109, 134);
  padding: 10px;
  width: 35%;
  max-width: 650px;
  font-size: 20px;
  border: 2px solid rgb(193, 211, 30);
  border-radius: 5px;
}
#myInput:focus {
  border: 2px solid rgb(105, 179, 36);
}
.container {
  text-align: center;
  width: 300px;
  height: 800px;
  /* padding-top: 600px; */
  /* padding-left: 90px; */
}

.hid {
  display: none;
}

ul li.checked {
  text-decoration: line-through;

  opacity: 0.7;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.close {
  padding: 0;
  padding-left: 15px;
  color: rgb(248, 161, 161);
  /* opacity: 0.5; */
  font-size: 20px;
  cursor: grab;
  font-weight: bold;
}
#myUL {
  width: 40%;
  /* max-width: 650px; */
  display: block;
  justify-content: center;
}
#myUL > li {
  display: block;
  height: auto;
  padding: 20px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.137);
  list-style: none;
  border-radius: 10px;
  margin: 10px auto;
}
