 /* @import "bulma/sass/utilities/_all.sass"
 @import "bulma/sass/grid/columns.sass"  */



.backg {
background-image: url('./img/share-digital-transformation.jpg');
background-repeat: no-repeat;
background-position: center;
background-size: cover;
height: 800px;

.title {
    font-size: 100px;
    color: white;
    }
}

.container {  
    text-align: center;  
    width: 300px;  
    height: 200px;  
    padding-top: 600px; 
    padding-left: 90px; 
    }  

