 /* @import "bulma/sass/utilities/_all.sass" */
 /* @import "bulma/sass/grid/columns.sass"  */

 @font-face {
  font-family: 'lemon_tuesdayregular';
  src: url('lemon_tuesday-webfont.woff2') format('woff2'),
       url('lemon_tuesday-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

*{
    /* color: #fff; */
    /* box-sizing: border-box; */
}

.backg {
background-image: url('./img/share-digital-transformation.jpg');
background-repeat: no-repeat;
background-position: center;
background-size: cover;
height: 800px;}


.header {


}

.addSth {
  opacity: 0.7;
}

#title2 {
    font-size: 100px;
    color: white;
    font-family: 'lemon_tuesdayregular';
    padding-top: 50px;
    margin-bottom: 50px;
    }


#myInput {
  color: black;
}

.container {  

    text-align: center;  
    width: 300px;  
    height: 200px;  
    padding-top: 600px; 
    padding-left: 90px; 
    }  

    li {
      color: #ffffff;
      background-color:rgba(255, 255, 255, 0.329);
      list-style:none;
      margin: 8px;;
      width: 40%;
      height: 30px;
      border-radius: 10px;
    
    }

    .hid
    {
      display: none;
    }

    ul li.checked {
     
        text-decoration: line-through;
        
        opacity: 0.7;
      }
      
      /* Add a "checked" mark when clicked on */
      ul li.checked::before {
      
      
        position: absolute;
        border-color: #fff;
        border-style: solid;
        border-width: 0 2px 2px 0;
        top: 10px;
        left: 16px;
        transform: rotate(45deg);
        height: 15px;
        width: 7px;
      }
      
      .close {
        padding: 20px;
        color: white;
        opacity: 0.5;
      }